table {
    border-collapse: collapse; 
    border: 2px dotted green; 
}
th, td {
    border: 2px dotted green; 
    text-align: left;
}
tbody tr {
    background-color: yellow; 
}
tbody tr:nth-child(odd) td {
    background-color: lightblue; 
}
tbody tr:hover {
    color: red;  
    font-weight: bold; 
}